<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <add key="CiDiIdAplicacion" value="521"/>

    <!--Desarrollo-->
    <add key="CiDiPassAplicacion" value="GBHREGahcu52487"/>
    <add key="CiDiKeyAplicacion" value="365873517459654D49575773436C7370"/>
    <add key="MyAppUrl" value="http://localhost.cba.gov.ar:1953/EjemploComunicaciones/Default.aspx/"/>
    <add key="CiDiUrl" value="https://cidi.cba.gov.ar/Cuenta/Login"/>
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.cba.gov.ar/"/>
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.cba.gov.ar/"/>
    <!--<add key="CiDiUrlAPIComunicacion" value="http://localhost:2503/"/>-->
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.cba.gov.ar/"/>
    <add key="CiDiUrlAPIMobile" value="https://mobilecidi.cba.gov.ar/"/>
    <add key="CiDiUrlRelacion" value="https://cidi.cba.gov.ar/relacion/appseleccion"/>

  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>